
<!-- ======================= Player ======================= -->
<button class="play-pause iconic" title='play/pause'>
{% include 'play-fill.svg' %}
{% include 'pause-fill.svg' %}
</button>
<progress class="player" value="0" min="0"></progress>
<video class="clip"></video>
<script>
(() => {
	let mediaElement = $('video.clip');
	let playPauseButton = $('button.play-pause');
	let progressBar = $('progress.player');


	globalState.render(['playingClip'], current => {
		if (current.playingClip && current.playingClip.audio) {
			mediaElement.src = current.playingClip.audio;
			mediaElement.addEventListener('loadedmetadata', evt => {
				progressBar.setAttribute('max', mediaElement.duration);
				progressBar.setAttribute('value', 0);
			});
		}
	})

	playPauseButton.addEventListener('click', evt => {
		if (mediaElement.paused || mediaElement.ended) {
			mediaElement.play();
			playPauseButton.classList.add('playing') ;
		} else {
			mediaElement.pause();
			playPauseButton.classList.remove('playing') ;
		}
	});

	mediaElement.addEventListener('timeupdate', evt => {
		progressBar.setAttribute('value', mediaElement.currentTime);
		if (mediaElement.currentTime >= progressBar.max) {
			playPauseButton.classList.remove('playing');
		}
	})

	progressBar.addEventListener('click', evt => {
		let pos = (evt.pageX  - progressBar.offsetLeft) / progressBar.offsetWidth;
		globalState.set('playbackTime', pos * mediaElement.duration);
	})
	let dragInProgress = false;
	progressBar.addEventListener('mousedown', evt => dragInProgress = true);
	progressBar.addEventListener('mouseup', evt => dragInProgress = false);
	progressBar.addEventListener('mousemove', evt => {
		if (dragInProgress) {
			let pos =  (evt.pageX  - progressBar.offsetLeft) 
			          / progressBar.offsetWidth;
			globalState.set('playbackTime', pos * mediaElement.duration);
		}
	})

	globalState.render(['playbackTime'], current => {
		if (current.playbackTime && 
			current.playbackTime != mediaElement.currentTime
		) {
			mediaElement.currentTime = current.playbackTime;
		}
	});

	let updateTime = () => {
		let playbackTime = globalState.get('playbackTime');
		if (playbackTime != mediaElement.currentTime) {
			globalState.set('playbackTime', mediaElement.currentTime);
		}
		window.requestAnimationFrame(updateTime);
	}
	window.requestAnimationFrame(updateTime);

})();
</script>
<style>

	button.play-pause svg {
		display: none;
	}
	button.play-pause svg:first-child {
		display: inline-block;
	}
	button.play-pause.playing svg {
		display: inline-block;
	}
	button.play-pause.playing svg:first-child {
		display: none;
	}
	progress.player {
		width: 100%;
		height: calc(var(--header-height) - 1em);
		vertical-align: center;
		flex-shrink: 1;
	}
	.custom-widgets progress[value] {
	  /* Reset the default appearance */
	  -webkit-appearance: none;
		 -moz-appearance: none;
			  appearance: none;
	  
	  /* Get rid of default border in Firefox. */
	  border: none;
	  border: 1px solid var(--chrome-border);
	  border-radius: var(--border-radius);
	  overflow: hidden;
	}
	.custom-widgets  progress[value]::-webkit-progress-bar, progress[value] {
		background: var(--input-background);
		box-shadow: inset -1px 2px calc(var(--box-shadow-spread) * 1.25) 2px rgba(255,255,255, calc(var(--highlight-strength) * 1));
	}

	/* These don't work together for some reason*/
	.custom-widgets progress[value]::-webkit-progress-value {
		background: var(--progress-bar-background);
		border-radius: var(--border-radius) 0px 0px var(--border-radius);

	}
	.custom-widgets progress[value]::-moz-progress-bar { 
		background: var(--progress-bar-background);
		border-radius: var(--border-radius) 0px 0px var(--border-radius);
	}
	video.clip {
		position: absolute;
		top: 0px;
		left: 0px;
		right:0px;
		bottom: 0px;
		z-index: 1;
		width: 100%;
		height: var(--header-height);
		margin: 0px;
	}
</style>
<!-- ====================================================== -->

