voice-graph-2d canvas {
	border-radius: 1em;
}

html, body {
	--progress-bar-background: linear-gradient(
		#55CDFC 0%,   #55CDFC 20%,
		#F7A8B8 20%,  #F7A8B8 40%,
		white 40%, white 60%,
		#F7A8B8 60%,  #F7A8B8 80%,
		#55CDFC 80%,  #55CDFC 100%
	);
}

/* These don't work together for some reason*/
progress[value]::-webkit-progress-value {
	background: var(--progress-bar-background);
	border-radius: 2em;
}
progress[value]::-moz-progress-bar { 
	background: var(--progress-bar-background);
	border-radius: 2em 0em 0em 2em;
}

header {
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,.25);
  background: linear-gradient(#eee, #ddd);
   
}
button.new-clip {
	background: linear-gradient(#30b824, #36882f);
	color: white;
	border: 1px darkgreen;
}
button.new-clip:before {
	content: "+ ";
	font-weight: bold;
}

progress[value] {
  box-shadow: inset 0px 2px 6px rgba(0,0,0,.25);
  background: white;
  border: 1px solid #ccc;
  border-radius: 2em;
}

button, input[type=submit] {
  border: 1px solid #ccc;
  border-radius: 2em;
  background: linear-gradient(#efefef, #ccc);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,.25);
}
main > aside {
  background: #ddd;
}
main > section {
  border: 0px;
}
.tab-set > button {
  transition: .1s all;
  border-radius: 0px;
  color: black;
  background: linear-gradient(#aaa 0%, #ccc 10%, #ccc 100%);
  border: none;
  box-shadow: none;
}
.current-tab {
  border: 0px;
}
.tab-set > button:disabled {
  background: #ddd;
  color: inherit;
  opacity: 1;
  border: 0px 1px 1px 1px;
  box-shadow: none;
}
